*{
    max-width: 100%;
}


#home {
    background: linear-gradient(rgba(107,142,35,0.38), rgba(107,142,35,0.38)), 
                url("/public/images/acc-img.png") no-repeat center center fixed;
    background-size: cover; /* L'image couvre toute la zone */
    position: relative; /* Positionner l'élément dans le flux du document */
    width: 100%;
    height: 110vh; /* Couvre la hauteur de la fenêtre */
    /* z-index: 0;  */
}

 .navbar {
  
    /* left: 0; */
    width: 100%;
    z-index: 1000 ;
  }
   
  .menu-bar, .menu-bar-bg {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* top: 0px !important; */

  }
  .menu-bar {
    background-color: #ffffff;
    z-index: 1000;
    position: fixed;
    height: 15%;
    top: 0;
    left: 0; 
    right: 0;
    /* border-radius: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    /* padding: 10px 0; */
    list-style: none;
    color: #8B4513;
    font-family: sans-serif;
    font-weight: bold;
    /* margin: 0 8px; */
    cursor: pointer;
    /* white-space: nowrap; */
    gap: 30px;
  }

  .menu-bar-bg {

    top: 0;
    left: 0; 
    right: 0;
   
    padding-top: 20px !important; 
  }



   .menu-bar-bg a {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;

  }

  .menu-bar-bg a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
  }

  a{
    color: black;
  }

  
  /* .menu-bar li::before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 35%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;

  } */
   .menu-bar-bg a:hover::before {
    color: black;
    font-weight: bold;
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
  }
  
  
  .menu-bar a:hover, .menu-bar-bg li:hover {
    color: #6B8E23;
  }
  

.btn-contact{
width: 100px;
height: 40px;
left: 0px;
top: 0px;
border-radius: 13px;
background-color: #8B4513;
color: #ffffff !important;
}

.logo, img {
    height: 100px;
    width: 100px;
    z-index: 1; 
}

.femme {
    position: absolute;
    left: 75%;
    width: 25%;
    height: 100vh;
    z-index: 1; /* S'assure que cet élément est aussi au-dessus du fond */
}

.contact-container{
    width: 794px;
    left: 45px;
    /* top: -10px !important;  */
    position: relative;
    
}

form{
gap: 50px;
}

input, textarea{
padding-top: 20px !important;
    left: 0px;
    width: 513px;
    height: 67px;
    border-radius: 10px;
    border: 1px solid #8b4513;
    background: rgba(255,255,255,0.67);
    background-blend-mode: normal;
    margin-bottom: 20px;
}

.btn-form{
width: 300px;
height: 50px;
border-radius: 13px;
background-color: #8B4513;
color: #ffffff;
cursor: pointer;
}
.btn-form :hover{
   
    background-color: #8B4513;
    color: #ffffff;
    }

.slogan{
    font-size: 20px;
    font-weight: 700;
    line-height: 36.31px;
    color: #ffffff;
}
h1{
    font-size: 50px;
}
#about{
    background: url("/public/images/about-image.png");
    background-size: cover;
    /* height: 970px; */
    height: 600px;
    position: relative;
    top: -90px;
    display: flex; /* Utilise le modèle flex */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre horizontalement */
    text-align: center; /* Centre le texte */
    padding: 20px; /* Ajoute un peu d'espace à l'intérieur de la div */

}

h2{
    position: absolute;
    /* left: 4px; */
    top: -60px;
    width: 524px;
    height: 73px;
    color: #8b4513;
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    line-height: 66.56px;
}

.about-text{
    position: absolute;
    /* left: 54px; */
    top: 150px;
    width: 1356px;
    height: 543px;
    /* display: flex;
    flex-direction: column; */
    
}

.about-image{
    position: relative;
    /* left: 374px; */
    top: 18px;
    width: 500px !important;
    height: 400px !important;
}

.text{
    position: absolute;
  left: 50px;
  top: 25px !important;
  width: 690.05px;
  height: 468px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: justify;
}

.btn-about{
width: 250px;
height: 53px;
left: 4082px;
border-radius: 29px;
background-color: #8B4513;
color: #ffffff;
}

#equipe{
position: relative;
top: 70% !important;
justify-content: center;
align-items: center;
display: flex;
flex-direction: row;
gap: 90px;
}

.eq{
    width: 200px;
    height: auto;
}

#service{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex; /* Utilisation de flexbox */
    flex-direction: row;
    gap: 50px;
}

.service-container{
    display: flex; /* Utilisation de flexbox */
    align-items: flex-start; /* Alignement vertical en haut */
    gap: 20px; /* Espace entre l'icône et le texte */
    width: 550px; /* Largeur du conteneur de services */
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 30px;
    border: 1px solid rgba(139,69,19,0.24);
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    padding: 20px;
    text-align: center;
    position: relative;
    top: -30%;
}

.service-text{
    width: 100%;
    font-family: Akatab;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.title-service{
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}

h3{
   
   
    color: #6b8e23;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}
.service-icon{
    position: relative;
    top: -90px !important;
    color: #8B4513;
}

#projet{
    width: 100%; /* Largeur du demi-cercle */
    height: 700px; /* Hauteur du demi-cercle */
    background: rgba(144, 196, 24, 0.24); /* Couleur du demi-cercle */
    border-radius: 50% 50% 0 0; /* Arrondi pour créer le demi-cercle */
   
}

.projet-container{
    position: relative;
    max-width: 300px; 
    height: auto;
    border-radius: 42px;
    border: 1px solid rgba(139,69,19,0.24);
    background: #ffffff;
    background-blend-mode: normal;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    top: 100px;
    padding: 20px;
    margin-bottom: 200px;
    box-sizing: border-box;

}

.projet-title{
    font-size: 34px;
    font-weight: bold;
    position: relative;
    top: 80px;
    margin-left: 45%;
}

.projet-image{
    display: block;
    margin: 0 auto; 
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.btn-projet{

width: 100px;
height: 43px;
border-radius: 29px;
background-color: #8B4513;
color: #ffffff;
display: block;
margin: 0 auto; 
font-weight: 700;
}

.contenu {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement si nécessaire */
    text-align: center;
    width: 100%;
}



footer {
    width: 100%;
    background: linear-gradient(135deg, #8B4513, #6B8E23); /* Marron et Vert en dégradé */
    height: 200px;
    color: white; /* Assurez-vous que le texte est visible */
    padding: 20px;
}
h1{
    color: #ffffff;
}

button{
   
    cursor: pointer;

}

.info{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    color: #6B8E23;
    gap: 20px;
}

h4{
    font-size: 20px;
}
.info-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
}

  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;...');
  }


@media only screen and (max-width: 768px) {

    .menu-bar {
        flex-direction: column;
      }
   *{
    max-width: 100% !important;
    margin: 0;
   }

   

.titre{
    font-size: 35px !important;
}
.slogan{
    font-size: 20px;
}
.contact-container{
   
    top: 60px !important; 
    left: 15px;
    
}
input, textarea{
    padding-top: 20px !important;
        left: 0px;
        width: 250px;
        height: 67px;
        border-radius: 10px;
        border: 1px solid #8b4513;
        background: rgba(255,255,255,0.67);
        background-blend-mode: normal;
        margin-bottom: 20px;
    }
    .btn-form{
        width: 30% !important;
       
        }
     
        .text{
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            text-align: justify;
            /* padding: 10px; */
            width: 90%;
        }
        
        h2{
            position: absolute;
            /* left: 4px; */
            top: -60px;
            width: 524px;
            height: 73px;
            color: #8b4513;
            font-family: Inter;
            font-size: 30px;
            font-weight: 700;
            line-height: 66.56px;
        }
        
     .about-text {
   margin-right: 90px;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
}

        
.about-image{
    position: relative;
    justify-content: center;
    align-items: center;
    top: 750px;
    margin-left: 15px;
}  


  
        
        #equipe{
        position: relative;
        top: 400px !important;
    
        width: 100%;
            flex-wrap: wrap;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            display: flex;
            gap: 50px;
            position: relative;
            text-align: center; /* Align text in center */
        }
        
        .btn-about{
            width: 150px;
            font-weight: bold;
            height: 40px;
            left: 4082px;
            border-radius: 29px;
            background-color: #8B4513;
            color: #ffffff;
            }
        
        #service{
           
            top: 700px !important;
            gap: 20px; /* Réduit l'écart entre les cartes */
            padding: 10px;
        }
        h4{
            font-size: 10px;
        }
     
        .service-container{
            max-width: 90%;
            gap: 30px;
        }
        .info {
            gap: 0; /* Supprime l’espace entre les éléments sur mobile */
        }
        .service-text{
            width: 100%;
            font-family: Akatab;
            font-size: 10px;
            font-weight: 400;
            line-height: 24px;
            text-align: justify;
        }
        
        .title-service{
            text-align: center;
            font-size: 34px;
            font-weight: bold;
        }
        
    
        #projet{
            width: 100%; /* Largeur du demi-cercle */
            height: 700px; /* Hauteur du demi-cercle */
            position: relative;
            top: 800px;
            display: flex;
            flex-direction: column;
            /* margin-bottom: 20px !important; */
        }
        p{
            font-size: 20px;
        }
        .projet-container{
            width: 300px;

        
        }
        
        .projet-title{
            font-size: 25px;
            font-weight: bold;
            position: relative;
            top: 80px;
        }
        
        .projet-image{
            display: block;
            margin: 0 auto; 
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
        }
        
        .btn-projet{
        
        width: 70px;
        height: 30px;
        border-radius: 12px !important;
        background-color: #8B4513;
        color: #ffffff;
        display: block;
        /* margin: 0 auto;  */
        font-weight: 700;
        font-size: 10px;
        }
        
        .contenu{
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        
        footer {
            width: 100%;
            background: linear-gradient(135deg, #8B4513, #6B8E23); /* Marron et Vert en dégradé */
            height: 200px;
            color: white; /* Assurez-vous que le texte est visible */
            padding: 20px;
        }
        h1{
            color: #ffffff;
            font-size: 15px !important ;
        }
        
        button{
           
            cursor: pointer;
        
        }
        
  }