*{
    max-width: 100%;
}


#home {
    background: linear-gradient(rgba(107,142,35,0.38), rgba(107,142,35,0.38)), 
                url("/public/images/acc-img.png") no-repeat center center fixed;
    background-size: cover; /* L'image couvre toute la zone */
    position: relative; /* Positionner l'élément dans le flux du document */
    /* width: 100%; */
    height: 105vh; /* Couvre la hauteur de la fenêtre */
    /* z-index: 0;  */
}


 

.nav__link{
    color: black;
    font-weight: 500;
  }

  
  /* .menu-bar li::before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 35%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;

  } */
 
  
  
 

.btn-contact{
width: 100px;
height: 40px;
border-radius: 13px;
background-color: #8B4513;
color: #ffffff !important;
cursor: pointer;
top: -20px !important;
}

.logo, img {
    height: 100px;
    width: 100px;
    z-index: 1; 
}

.femme {
    position: absolute;
    left: 75%;
    width: 25%;
    height: 100vh;
    z-index: 1; /* S'assure que cet élément est aussi au-dessus du fond */
}

.contact-container{
    width: 794px;
    left: 45px;
    /* top: 10px !important;  */
    position: relative;
    
}

form{
gap: 50px;
}

input, textarea{
padding-top: 20px !important;
    left: 0px;
    width: 513px;
    height: 67px;
    border-radius: 10px;
    border: 1px solid #8b4513;
    background: rgba(255,255,255,0.67);
    background-blend-mode: normal;
    margin-bottom: 20px;
}

.btn-form{
width: 300px;
height: 50px;
border-radius: 13px;
background-color: #8B4513;
color: #ffffff;
cursor: pointer;
}
.btn-form :hover{
   
    background-color: #8B4513;
    color: #ffffff;
    }

.slogan{
    font-size: 20px;
    font-weight: 700;
    line-height: 36.31px;
    color: #ffffff;
}
h1{
    font-size: 50px;
}
#about{
    background: url("/public/images/about-image.png");
    background-size: cover;
    /* height: 970px; */
    height: 650px;
    position: relative;
    top: -90px;
    display: flex; /* Utilise le modèle flex */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre horizontalement */
    text-align: center; /* Centre le texte */
    padding: 20px; /* Ajoute un peu d'espace à l'intérieur de la div */

}

h2{
    position: absolute;
    /* left: 4px; */
    top: -60px;
    width: 524px;
    height: 73px;
    color: #8b4513;
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    line-height: 66.56px;
}

.about-text{
    position: absolute;
    /* left: 54px; */
    top: 150px;
    width: 1356px;
    height: 543px;
    /* display: flex;
    flex-direction: column; */
    
}

.about-image{
    position: relative;
    margin-left: 674px; 
    top: 18px;
    width: 500px !important;
    height: 400px !important;
}

.text{
    position: absolute;
  left: 50px;
  top: 25px !important;
  width: 570px;
  height: 468px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: justify;
}

.btn-about{
width: 250px;
height: 53px;
left: 4082px;
border-radius: 29px;
background-color: #8B4513;
color: #ffffff;
}

#equipe{
position: relative;
top: 70% !important;
justify-content: center;
align-items: center;
display: flex;
flex-direction: row;
gap: 90px;
}

.eq{
    width: 200px;
    height: auto;
}

#service{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex; /* Utilisation de flexbox */
    flex-direction: row;
    gap: 50px;
}

.service-container{
    display: flex; /* Utilisation de flexbox */
    align-items: flex-start; /* Alignement vertical en haut */
    gap: 20px; /* Espace entre l'icône et le texte */
    width: 550px; /* Largeur du conteneur de services */
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 30px;
    border: 1px solid rgba(139,69,19,0.24);
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    padding: 20px;
    text-align: center;
    position: relative;
    top: -30%;
}

.service-text{
    width: 100%;
    font-family: Akatab;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.title-service{
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}

h3{
   
   
    color: #6b8e23;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}
.service-icon{
    position: relative;
    top: -90px !important;
    color: #8B4513;
}

#projet{
    width: 100%; /* Largeur du demi-cercle */
    height: 700px; /* Hauteur du demi-cercle */
    background: rgba(144, 196, 24, 0.24); /* Couleur du demi-cercle */
    border-radius: 50% 50% 0 0; /* Arrondi pour créer le demi-cercle */
   
}

.projet-container{
    position: relative;
    max-width: 300px; 
    height: auto;
    border-radius: 42px;
    border: 1px solid rgba(139,69,19,0.24);
    background: #ffffff;
    background-blend-mode: normal;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    top: 100px;
    padding: 20px;
    margin-bottom: 200px;
    box-sizing: border-box;

}

.projet-title{
    font-size: 34px;
    font-weight: bold;
    position: relative;
    top: 80px;
    margin-left: 45%;
}

.projet-image{
    display: block;
    margin: 0 auto; 
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.btn-projet{

width: 100px;
height: 43px;
border-radius: 29px;
background-color: #8B4513;
color: #ffffff;
display: block;
margin: 0 auto; 
font-weight: 700;
}

.contenu {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement si nécessaire */
    text-align: center;
    width: 100%;
}



footer {
    width: 100%;
    background: linear-gradient(135deg, #8B4513, #6B8E23); /* Marron et Vert en dégradé */
    height: 200px;
    color: white; /* Assurez-vous que le texte est visible */
    padding: 20px;
}
h1{
    color: #ffffff;
}

button{
   
    cursor: pointer;

}

button:hover{
    background-color: #ffffff;
    color: #8b4513;
}

.btn-contact:hover{
    background-color: #ffffff;
    color: #8b4513;
}



.info{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    color: #6B8E23;
    gap: 20px;
}

h4{
    font-size: 20px;
}
.info-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
}

body {
    overflow-x: hidden;
  }
  




.nav__toggle,
.nav__close {
  font-size: 2.5rem;
  color: var(--title-color);
  cursor: pointer;

}

/* .nav__cta {
  background-color: var(--first-color);
  color: var(--title-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.75rem 1.5rem;
} */

.menu-bar {
    background-color: #ffffff;
    z-index: 1000;
    position: fixed;
    height: 15%;
    top: 0;
    left: 0; 
    right: 0;
    /* border-radius: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    /* padding: 10px 0; */
    list-style: none;
    color: #8B4513;
    font-family: sans-serif;
    font-weight: bold;
    /* margin: 0 8px; */
    cursor: pointer;
    /* white-space: nowrap; */
    gap: 30px;
  }


@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 6%, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
  }
}



@media screen and (max-width: 300px) {
  .nav__menu {
    padding: 4rem 1rem 2rem;
  }

  .nav__list {
    row-gap: 1rem;
  }

  .nav__link,
  .nav__cta {
    font-size: var(--smaller-font-size);
  }

  .nav__cta {
    padding: 8px 16px;
    font-size: 12px;
    margin-top: 1rem;
    width: auto;
    white-space: nowrap;
  }
}



.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__link:hover {
  color: #6B8E23;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}


.nav__menu_mobile {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: hsla(0, 0%, 6%, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 80%;
  height: 100%;
  padding: 6rem 3rem 0;
  transition: right 0.4s;
}
@media screen and (min-width: 1150px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
    z-index: 1000;
    width: 100%;
    gap: 30px;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }

 
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
    /* top: 50px !important; */

  }
}

@media only screen and (max-width: 768px) {

    #home{
        height: 700px;
    }

    .am {
        display: flex;
        justify-content: center;

    }
    
    .about-image {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        top: 700px !important;
        margin-right: 590px !important;


    }
    

    .femme{
        display: none !important;
    }

 

   *{
    margin: 0;
    padding: 0;
   }

   #about{
    height: 850px !important;
   }

.titre{
    font-size: 30px !important;
}
.slogan{
    font-size: 15px;
}
.contact-container{
   
    top: 60px !important; 
    left: 15px;
    
}
input, textarea{
    padding-top: 20px !important;
        left: 0px;
        width: 250px !important;
        height: 67px;
        border-radius: 10px;
        border: 1px solid #8b4513;
        background: rgba(255,255,255,0.67);
        background-blend-mode: normal;
        margin-bottom: 20px;
    }
    .btn-form{
        width: 30% !important;
       
        }
     
        .text{
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            text-align: justify;
            /* padding: 10px; */
            width: 90%;
        }
        
        h2{
            position: absolute;
            /* left: 4px; */
            top: -60px;
            width: 524px;
            height: 73px;
            color: #8b4513;
            font-family: Inter;
            font-size: 30px;
            font-weight: 700;
            line-height: 66.56px;
        }
        
     .about-text {
   margin-right: 90px;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
}

        


  
        
        #equipe{
        position: relative;
        top: 400px !important;
    
        width: 100%;
            flex-wrap: wrap;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            display: flex;
            gap: 50px;
            position: relative;
            text-align: center; /* Align text in center */
        }
        
        .btn-about{
            width: 150px;
            font-weight: bold;
            height: 40px;
            left: 4082px;
            border-radius: 29px;
            background-color: #8B4513;
            color: #ffffff;
            }
        
        #service{
           
            top: 500px !important;
            gap: 30px; /* Réduit l'écart entre les cartes */
            padding: 10px;
        }
        h4{
            font-size: 10px;
        }
     
       
        .info {
            gap: 1;
            padding: 3px;
        }
        .service-text{
            font-family: Akatab;
            font-size: 10px;
            font-weight: 400;
            line-height: 24px;
            text-align: justify;
        }
        
        .title-service{
            text-align: center;
            font-size: 34px;
            font-weight: bold;
        }
        
    
        #projet{
            width: 100%; /* Largeur du demi-cercle */
            height: auto; /* Hauteur du demi-cercle */
            position: relative;
            top: 550px;
            display: flex;
            flex-direction: column;
            /* margin-bottom: 20px !important; */
        }
        p{
            font-size: 20px;
        }
        .projet-container{
            width: 300px;

        
        }
        
        .projet-title{
            font-size: 25px;
            font-weight: bold;
            position: relative;
            top: 80px;
        }
     
        .btn-projet{
        
        width: 70px;
        height: 30px;
        border-radius: 12px !important;
        background-color: #8B4513;
        color: #ffffff;
        display: block;
        /* margin: 0 auto;  */
        font-weight: 700;
        font-size: 10px;
        }
        
        .contenu{
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        
        footer {
            width: 100%;
            background: linear-gradient(135deg, #8B4513, #6B8E23); /* Marron et Vert en dégradé */
            height: 200px;
            color: white; /* Assurez-vous que le texte est visible */
            padding: 20px;
        }
        h1{
            color: #ffffff;
            font-size: 15px !important ;
        }
        
        button{
           
            cursor: pointer;
        
        }
       
        
  }